@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}
.header .title {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.header .bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

.photo_and_spec {
  display: flex;
  justify-content: space-between;
}
.photo_and_spec .photo {
  width: 50%;
  text-align: center;
}
.photo_and_spec .photo img {
  width: 45%;
}
.photo_and_spec .spec {
  width: 50%;
}
.photo_and_spec .spec li {
  margin-bottom: 30px;
  width: 70%;
}

.btn {
  background: none;
  border: none;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  width: 160px;
  height: 40px;
  margin-left: 40px;
}
.btn:hover {
  -webkit-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
}
.btn:active {
  -webkit-box-shadow: 0px 0px 65px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 65px 16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 65px 16px rgba(0, 0, 0, 0.75);
}

section {
  width: 100%;
}

.section_structure {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #95dbef;
  background: -moz-linear-gradient(left, #95dbef 0%, #95dbef 30%, #74cee7 57%, #3fb8d9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #95dbef), color-stop(30%, #95dbef), color-stop(57%, #74cee7), color-stop(100%, #3fb8d9));
  background: -webkit-linear-gradient(left, #95dbef 0%, #95dbef 30%, #74cee7 57%, #3fb8d9 100%);
  background: -o-linear-gradient(left, #95dbef 0%, #95dbef 30%, #74cee7 57%, #3fb8d9 100%);
  background: -ms-linear-gradient(left, #95dbef 0%, #95dbef 30%, #74cee7 57%, #3fb8d9 100%);
  background: linear-gradient(to right, #95dbef 0%, #95dbef 30%, #74cee7 57%, #3fb8d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95dbef', endColorstr='#3fb8d9', GradientType=1 );
}

.btn_structure {
  text-align: center;
}

.structure {
  border: 1px black solid;
  border-radius: 7px;
  width: 200px;
  height: 150px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.structure img {
  margin-left: 50px;
}
.structure p {
  text-align: center;
}

.structures {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}
.structures .image {
  padding-top: 50px;
}

.s_title {
  text-align: center;
}

.reviews {
  font-family: 'Montserrat', sans-serif;
  padding: 50px 0;
  background: #d2ff52;
  background: -moz-linear-gradient(left, #d2ff52 0%, #91e842 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
  background: -webkit-linear-gradient(left, #d2ff52 0%, #91e842 100%);
  background: -o-linear-gradient(left, #d2ff52 0%, #91e842 100%);
  background: -ms-linear-gradient(left, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(to right, #d2ff52 0%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}

.review {
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
}
.review .rev_photo {
  width: 10%;
  margin-right: 10px;
}
.review .rev_name {
  padding-bottom: 10px;
}

.about {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 50px 0;
  background: #cb60b3;
  background: -moz-linear-gradient(left, #cb60b3 0%, #c146a1 53%, #db36a4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #cb60b3), color-stop(53%, #c146a1), color-stop(100%, #db36a4));
  background: -webkit-linear-gradient(left, #cb60b3 0%, #c146a1 53%, #db36a4 100%);
  background: -o-linear-gradient(left, #cb60b3 0%, #c146a1 53%, #db36a4 100%);
  background: -ms-linear-gradient(left, #cb60b3 0%, #c146a1 53%, #db36a4 100%);
  background: linear-gradient(to right, #cb60b3 0%, #c146a1 53%, #db36a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
}

.about_inner {
  display: flex;
  font-size: 20px;
  padding-bottom: 50px;
}
.about_inner .about_text {
  width: 40%;
  padding-left: 50px;
  padding-top: 50px;
}

.about_spec {
  padding-bottom: 50px;
}
.about_spec li {
  width: 400px;
  display: inline-block;
  text-align: center;
}

.btn_about {
  text-align: center;
}
.btn_about .btn {
  color: white;
  border: 1px solid white;
}
